#LoginBody {
    background-color:#FFDF8D;
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    height: auto;
}


#TitleLogin {
    color: rgb(255, 255, 255);
    margin-top: 5%;
}

#LoginBody {
    margin-top: 2%;
}
#UserName{
    color: blue;
}

#LoginForm {
    text-align: center;
}


#LoginForm input{
    height: 30px;
    width: 200px;
    font-size: 16px;
    padding-left: 3px;
    box-shadow: 0 0 10px #ededed inset;
    border: 1px solid #919191;


}

#LoginButton {
     border-radius: 10px;
     margin-top: 2%;
     margin-bottom: 2%;
     width: 15%;
     cursor: pointer;
}

#CreateAccountButton {
    border-radius: 10px;
    margin-bottom: 4%;
    width: 15%;
    margin-bottom: 10%;
}

#UserName {
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 1%;
}

#PassWord {
    border-radius: 10px;
    margin-top: 2%;
}


/*Mobile size */

@media all and (max-width: 768px) {

    #LoginBody {
        margin-top: -50px;
        width: 100%;
        padding-bottom: -44px;
        position: absolute;
        top: 0px;
        bottom: 0;
        width: 100%;
        border-radius: 0px;

}

    #TitleLogin {
    padding-top: 50px;
}

    #CreateAccountButton, #LoginButton {
    width: 135px;
    }
}

