    
    .ChatTitle{
        display: grid;
        grid: 36px / 1fr 36px;
        align-content: center;
        align-items: center;
        grid-area: chat-title;
        background: blue;
        color: green;
        font-weight: bold;
        font-size: 2.0rem;
        border-radius: 0 10px 0 0;
        box-shadow: 0 1px 3px -1px chat-title-shadow;
        padding: 0 20px;
        z-index: 1;
    }
  
    .message-list{
        display: block;
        text-align: center;
        
    }

    

    
    form{
        display: block;
        text-align: center; 
    }