
.FooterSize{
    position: absolute;
    width: 100%;
    height: 161px;
    left: 0px;
    top: 1033px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

background: #FFDF8D;
}


h1{
    
    color: #F79329;
    font-family: Quicksand;
    font-size: 30px;
}