.GridProfile{
    
display: grid;
grid-template-columns: repeat(12, 1fr);
align-items: center;
grid-auto-rows: minmax(70px, auto);
margin: 0 auto;
margin-top: 0px;
font-family: 'Quicksand';
text-align: center;
column-gap: 5px;
margin-left: 10px;
margin-right: 10px;


}

.GridProfilePictures{   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
    margin-top: 0px;
    width: fit-content;
    grid-column-gap: 20px;

}

.GridProfilePictures img{   
    width: 325px;
    margin: auto;

}
/*Cats */
.Cat1{
    grid-column: 1;
    grid-row: 1;
}
.Cat2{
    grid-column: 2;
    grid-row: 1;
}
.Cat3{
    grid-column: 3;
    grid-row: 1;
}
.Cat4{
    grid-column: 1;
    grid-row: 2;
}
.Cat5{
    grid-column: 2;
    grid-row: 2;
}
.Cat6{
    grid-column: 3;
    grid-row: 2;
}
.Title{
    grid-column: 6;
    grid-row: 1;
    align-self: baseline;
}

.Notification{
    grid-column: 10;
    grid-row: 1;
    width: max-content;
    align-self: center;
    margin-left: -25px;
    margin-top: -40px;
}

.Off{
    grid-column: 10;
    grid-row: 2;
    width: max-content;
    align-self: baseline;
    margin-left: 3px;
}
.On{
    grid-column: 11;
    grid-row: 2;
    width: max-content;
    align-self: baseline;
    margin-left: -35px;
}
.NotificationBar{
    grid-column: 10;
    grid-row: 1;
    align-self: flex-end;
}

.Lady{
    grid-column: 6;
    grid-row: 2;
    margin: auto;
}

.Edit{
    grid-column: 7;
    grid-row: 2;
    align-self: baseline;
    margin-left: -70px;
}

.ProfileName{
    grid-column: 6;
    grid-row: 3;
}

.Email{
    grid-column: 6;
    grid-row: 4;
    align-self: baseline;
}

.Following{
    grid-column: 9;
    grid-row: 2;
}

.Followers{
    grid-column: 11;
    grid-row: 2;
}

.Fifty{
    grid-column: 9;
    grid-row: 2;
    margin-top: -60px;
}

.FiveH{
    grid-column: 11;
    grid-row: 2;
    margin-top: -60px;
}

.UploadedPictures{
    grid-column: 2;
    grid-row: 2;
    width: fit-content;
}

.FiveT{
    grid-column: 2;
    grid-row: 2;
    margin-top: -60px;    
}


@media all and (max-width: 768px) {


    .GridProfile {
        grid-template-columns: repeat(6, 1fr);
        font-size: 11px;
        text-align: left;
        column-gap: 0px;
        margin-left: 5px;
        margin-right: 10px;
    }

    .Lady {
        grid-column: 1;
        grid-row: 2;
        margin: auto;
        width: 120px;
    }

    .Followers {
        grid-column: 2;
        grid-row: 2;
    }

    .FiveH {
        grid-column: 2;
        grid-row: 2;
        margin-top: -60px;
    }

    .Following {
        grid-column: 3;
        grid-row: 2;
        margin-left: 10px;
    }

    .Fifty {
        grid-column: 3;
        grid-row: 2;
        margin-top: -60px;
        margin-left: 10px;
    }

    .UploadedPictures {
        grid-column: 5;
        grid-row: 2;
    }

    .FiveT {
        grid-column: 5;
        grid-row: 2;
        margin-top: -60px;
    }
    
    .Email {
        grid-column: 1/3;
        grid-row: 4;
        align-self: baseline;
        margin-top: -35px;
    }
    .ProfileName {
        grid-column: 1;
        grid-row: 3;
    }

    .Edit {
        grid-column: 2;
        grid-row: 2;
        align-self: baseline;
        margin-left: -115px;
        margin-top: -28px;
    }
    .Notification {
        grid-column: 3;
        grid-row: 1;
        width: max-content;
        align-self: end;
        margin-left: -15px;
    }

    .NotificationBar {
        grid-column: 3;
        grid-row: 1;
        align-self: flex-end;
        width: 90px;
    }

    .Title {
        grid-column: 1;
        grid-row: 1;
        align-self: baseline;
        font-size: 24px;
    }
    .On {
        grid-column: 7;
        grid-row: 2;
        width: max-content;
        align-self: baseline;
        margin-left: -35px;
    }
}

@media all and (max-width: 996px) {


.GridProfilePictures{   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
    margin-top: 0px;

}

.GridProfilePictures img{   
    width: 165px;
    margin: auto;

}

.Cat1{
    grid-column: 1;
    grid-row: 1;
}
.Cat2{
    grid-column: 2;
    grid-row: 1;
}
.Cat3{
    grid-column: 1;
    grid-row: 2;
}
.Cat4{
    grid-column: 2;
    grid-row: 2;
}
.Cat5{
    grid-column: 1;
    grid-row: 3;
}
.Cat6{
    grid-column: 2;
    grid-row: 3;
}

}