.Uploadpicture{
    size: 20%;
    border-radius: 20px;
    text-align: center;
    
}

h2{
    padding-bottom: 30px;
}
#TedPicture{
    height: 20px;
}

#file-input{
    width: 240;
    align-items: center;
    margin: 20px;
}

#textDescription{
    height: 100px;
    width: 400px;
    margin: 10px;
}

button{
    background-color: #F79329;
  border: none;
  color: white;
  padding: 10px 68px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#Description{
max-width: 300px;

}

input{
    min-width: 300px;
    
}

.submit{
    margin-left: 30px;
}

#uploadPic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 900px;
    padding-top: 250px;

}



#fileUploadForm{

    margin-top: 400px;
}